@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('./welcome.css');

@media screen and (width <= 990px) {
  #app { align-self: flex-start; }
}

@media print { body :not(#app, #app *) { display: none; } }

:root {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 9pt;

  --width: 11in;
  --height: 17in;
  --margins: 0.5in;
  --actual-width: calc(var(--width) - 2 * var(--margins));
  --actual-height: calc(var(--height) - 2 * var(--margins));
  --columns: 4;
  --gap: 0.5rem;

  & * {
    font-family: inherit; 
    font-size: inherit;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: max-content;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#app {
  position: relative;
  width: var(--width);
  height: var(--height);
  padding: var(--margins);
  border: 1px dashed black;
  overflow: hidden;
  box-sizing: border-box;

  #welcome-modal.in-use ~ & {
    display: none;
  }

  &.use-column {
    column-count: auto;
    column-width: 24ch;
    column-gap: var(--gap);
    column-fill: auto;
  }

  &.use-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24ch, 1fr));
    grid-template-rows: masonry;
  }

  &.use-flexbox {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    gap: var(--gap);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    width: var(--margins);
    height: 100%;
  }
}

.question {
  display: flex;
  min-width: 0;
  flex-direction: column;
  gap: 0.5rem;
  padding: var(--gap);
  /*background-color: #f8f8f8;*/
  break-inside: avoid;
  border-radius: var(--gap);
  flex: 1;

  #app.use-column &:not(:first-child) { margin: var(--gap) 0; }
}

.input-container {
  column-count: 2;
  column-gap: 0.5rem;
}

span.aligner {
  display: flex;
  min-width: 0;
  flex-flow: row nowrap;
  align-items: flex-end;
  break-inside: avoid;

  &:not(:first-child) { margin: 0.5rem 0; }

  & > label { max-width: 12ch; }
}

#app input[type=text], #identification {
  border: none;
  border-bottom: 1px solid #888;
  margin-top: auto;
  max-width: 100%;
  box-sizing: border-box;
  background: transparent;
}

#app input[type=radio], #app input[type=checkbox] {
  margin-bottom: auto;
  margin-top: 0;
  cursor: pointer;
}

#get-results { cursor: pointer; }

p { margin: 0; }
