#welcome-modal {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  font-size: 12pt;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-property: visibility, opacity;
  transition-duration: 100ms;

  &.in-use {
    visibility: visible;
    opacity: 1;
  }

  &::after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-1rem, -1rem);
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 200;
    background-color: white;
  }

  &::before {
    z-index: 100;
    display: block;
    position: fixed;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.2;
  }

  & > * {
    position: relative;
    z-index: 300;
  }

  & > h1 { margin: 0; text-align: center; }

  #close-welcome-modal { margin: auto 0; cursor: pointer; }

  #identification { text-align: center; }
}
